Django==1.7.11
django-compressor<2.0
urllib3==1.10.2
nameparser>=0.2.8
-e git+https://github.com/uw-it-aca/uw-restclients#egg=RestClients
-e git+https://github.com/uw-it-aca/django-supporttools#egg=django_supporttools
-e git+https://github.com/uw-it-aca/django-userservice#egg=Django-UserService
-e git+https://github.com/uw-it-aca/authz_group#egg=AuthZ-Group
